<div class="container">
    <form (ngSubmit)="onSubmit()" #pilotForm="ngForm">
        <div class="form-group">
            <label for="name">Enter pilot name:</label>
            <input type="text" [(ngModel)]="newpilot.pilotName" name="name" #name="ngModel"
            class="form-control" placeholder="AVIATOR Pilot">
        </div>
        <div class="form-group">
            <label for="description">Enter a description:</label>
            <input type="text" [(ngModel)]="newpilot.pilotDescription" name="description" #name="ngModel"
            class="form-control" placeholder="Hello I am description yes">
        </div>
        <button type="submit" class="btn btn-secondary">Create pilot!</button>
    </form>
</div>
