<div class="container">
    <table class="table">
        <thead>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-Mail</th>
        </thead>
        <tbody>
            <td>{{userModel.userName}}</td>
            <td>{{userModel.firstName}}</td>
            <td>{{userModel.lastName}}</td>
            <td>{{userModel.email}}</td>
        </tbody>
    </table>
    <a class="nav-link-active" routerLink="edit-user">Update information</a>
</div>